/* ==========================================================================
   #Hr
   ========================================================================== */

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    &.divider {
        max-width: 3.25rem;
        border-width: 0.2rem;
    }
}